@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

.VPNavBarTitle {
  font-family: 'Public Sans';
}

.VPNavBarTitle a span {
  font-size: 22px !important;
  font-weight: 300;
  padding-left: 5px;
  letter-spacing: 1px;
}

body {
  font-family: 'Inter'; 
  line-height: 1.2rem !important;
  font-size: 100%;
}

.button { 
  padding: 5px 10px; 
  border-color: var(--vp-custom-block-details-border);
  color: var(--vp-custom-block-details-text);
  background-color: var(--vp-custom-block-details-bg);
  border-radius: 5px;  
  margin-bottom: 2px;
  transition: 0.5s;
}
.button:hover { 
  opacity: 0.8;
}
.button:active { 
  opacity:0.9;
}

.VPLink p.text {
  font-size: 13px;
  line-height: 1rem;
  margin-bottom: 4px;
}

.vp-doc h2 {
  margin-top: 25px;
}
.vp-doc :not(pre) > code {
  padding: 1px 4px;
  letter-spacing: 0px;
  background-color: rgba(142, 150, 170, 0);
  font-size: 100%;
  /* font-family: 'JetBrains Mono'; */
}

code {
  /* font-family: 'JetBrains Mono'; */
}
